# clojure
/target
/classes
/checkouts
/test-reports
pom.xml
pom.xml.asc
build.xml
*.jar
*.class
/.lein-*
/.nrepl-port
.eastwood
.lsp/
.clj-kondo/

# uberjar
curbside-clojure-ml-*.tgz

# macOS
.DS_Store
